.github
.gdb_history
.idea
.gdbinit

*.gdb
*.dtb
*.dts
*.img
traces.*

zImage
lmbench_all_debug
kernel-qemu
kernel/src/link_app.asm

mnt/
ltp/
target/
third-party/vendor/
crates/virtio-drivers/
crates/lwext4_rust/
