.github
.gdb_history
.idea
.gdbinit

*.gdb
*.dtb
*.dts
*.img
traces.*

zImage
kernel-qemu
kernel/src/link_app.asm

mnt/
my-test/
ltp/
testcase/24/final_no_ltp
target/
old_rootfs/
third-party/vendor/
crates/virtio-drivers/
crates/lwext4_rust/
